<ion-view title="Autenticar Cadart" id="page23">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-home button-clear " ui-sref="tabsController.noticias"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="has-header">
        <button class="button icon ion-home button-clear" ui-sref="tabsController.noticias"
                onclick="pullToRefreshHome()"></button>
    </ion-nav-buttons>
    <ion-content>
        <form  class="list">
            <label class="item item-input item-stacked-label">
               <input type="number">
            </label>
        </form>
    </ion-content>
</ion-view>