<ion-view title="Cadart " id="page3">
  <ion-content padding="true" class="has-header">
    <div class="button-bar"></div>
    <divclass="button-bar">
      <a ui-sref="tabsController.cadastrar()" style="font-weight:600;font-size:17px;border-radius:5px 5px 5px 5px;" class="button button-positive button-small button-block button-outline">Cadastre-se</a>
      <a ui-sref="tabsController.login()" style="font-weight:600;font-size:17px;border-radius:5px 5px 5px 5px;" class="button button-positive button-small button-block button-outline">Entrar</a>
    </div>
    <ion-list >
      <ion-item class="item-avatar item-icon-right"  ui-sref="tabsController.informacoes()">
        <img src="img/utumw9gLSIe2GHD32dpQ_a1.png">
        <h2>Carlos Fernando Silva</h2>
        <p>Músico</p>
        <i class="icon ion-music-note icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right"  ui-sref="tabsController.informacoes()">
        <img src="img/W1oxVnuLRDKdPadIKXco_a2.png">
        <h2>Paulo Henrique Matos</h2>
        <p>Ator</p>
        <i class="icon ion-closed-captioning icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right"  ui-sref="tabsController.informacoes()">
        <img src="img/JL1P02wjSJKoXEHVqvpA_a3.png">
        <h2>Jessica Souza Ribeiro</h2>
        <p>Dançarina </p>
        <i class="icon ion-android-walk icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right"  ui-sref="tabsController.informacoes()">
        <img src="img/0R6dJCUtSC2KpWjtmCoG_a5.png">
        <h2>Lucas Thiago Solva</h2>
        <p>Pintor</p>
        <i class="icon ion-android-color-palette icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right"  ui-sref="tabsController.informacoes()">
        <img src="img/dXBfaGv9Qqq16ytkYO56_a4.png">
        <h2>Alberto Gomes Leite</h2>
        <p>Escritor</p>
        <i class="icon ion-ios-bookmarks icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>