<ion-view title="Cadart " id="page3">
    <ion-content padding="true" class="has-header">
        <div id="cadart-button-bar2" class="button-bar"></div>
        <div id="cadart-button-bar3" class="button-bar">
            <a ui-sref="tabsController.cadastrar()" id="cadart-button34"
               style="font-weight:600;font-size:17px;border-radius:5px 5px 5px 5px;"
               class="button button-positive button-small button-block button-outline">Cadastre-se</a>
            <a ui-sref="tabsController.login()" id="cadart-button35"
               style="font-weight:600;font-size:17px;border-radius:5px 5px 5px 5px;"
               class="button button-positive button-small button-block button-outline">Entrar</a>
        </div>
        <ion-list id="listaCadart">
        </ion-list>

    </ion-content>
</ion-view>