<ion-view title="Cadastrar" id="page14">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 5px;"></div>
        <div>
            <img src="img/53JNeoZQHebM6ls1E3zP_semfoto.jpeg"
                 style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div id="cadastrar-button-bar5" class="button-bar">
            <button id="cadastrar-button43" style="font-size:15px;border-radius:5px 5px 5px 5px;"
                    class="button button-dark button-small button-block">Carregar Foto
            </button>
        </div>
        <form id="cadastrar-form9" class="list">

            <label class="item item-input item-stacked-label">
                <span class="input-label">Descrição:</span>
                <textarea placeholder="Escreva uma breve descrição sobre você" id="descricaoCdt"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Projetos Atuais:</span><textarea
                    placeholder="O que esta fazendo ou projetos futuros" id="projetosCdt"></textarea></label>
            <label class="item item-input item-stacked-label">
                <span class="input-label ">Nome</span>
                <input type="text" placeholder="Seu nome completo" id="nomeCdt">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label ">Nome Artístico</span>
                <input type="text" placeholder="Seu nome completo" id="nomeArtCdt">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label" >CPF</span>
                <input type="text" placeholder="Seu Cpf" id="cpfCdt">
                <p class="invalido" id="cpfCdtInvalido" style="display: none">Cpf Inválido!</p>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="mariajulia@e-mail.com" id="emalCdt">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Telefone</span>
                <input type="tel" placeholder="079-00000-0000" id="telCdt">
                <p class="invalido" id="TelCdtInvalido" style="display: none">Telefone Inválido!</p>

            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nascimento</span>
                <input type="date" placeholder="" id="dataNascimentoCdt">
            </label>

            <label class="item item-select " for="sexoCdt">
                <span class="input-label">Genero</span>
                <select id="sexoCdt">
                    <option value="">Selecione</option>
                    <option value="m">Masculino</option>
                    <option value="f">Feminino</option>
                </select>
            </label>

            <label class="item item-select">
                <span class="input-label">Qual Sua Arte?</span>
                <select id="arteCdt">
                    <option value="">Selecione</option>
                    <option value="1">Ator/Atriz</option>
                    <option value="2">Músico</option>
                    <option value="3">Pintor</option>
                    <option value="4">Dançarino</option>
                    <option value="5">Escritor</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="Sua Senha" id="senhaCdt">
                <p class="invalido" id="senhaCdtInvalido" style="display: none">Senha deve conter no pelo mínimo 6 caracteres!</p>

            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="Confirmar Senha" id="senhaRedCdt">
                <p class="invalido" id="senhaRedCdtInvalido" style="display: none">Senhas Inorretas!</p>
            </label>
            <button id="cadastrarCdt" onclick="bla()" class="button button-dark button-block">Cadastrar</button>

        </form>
    </ion-content>
</ion-view>