<ion-view title="Cadastrar" id="page14">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div>
      <img src="img/53JNeoZQHebM6ls1E3zP_semfoto.jpeg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="cadastrar-button-bar5" class="button-bar">
      <button id="cadastrar-button43" style="font-size:15px;border-radius:5px 5px 5px 5px;" class="button button-dark button-small button-block">Carregar Foto</button>
    </div>
    <form id="cadastrar-form9" class="list">
      <label class="item item-input" id="cadastrar-textarea3">
        <span class="input-label">Descrição:</span><textarea placeholder="Escreva uma breve descrição sobre voçê"></textarea></label>
      <label class="item item-input" id="cadastrar-input19">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="Seu nome completo">
      </label>
      <label class="item item-input" id="cadastrar-input21">
        <span class="input-label">Email</span>
        <input type="text" placeholder="mariajulia@e-mail.com">
      </label>
      <label class="item item-input" id="cadastrar-input25">
        <span class="input-label">Telefone</span>
        <input type="tel" placeholder="079-00000-0000">
      </label>
      <label class="item item-input" id="cadastrar-input22">
        <span class="input-label">Nascimento</span>
        <input type="date" placeholder="">
      </label>
      <ion-checkbox id="cadastrar-checkbox3">Masculino</ion-checkbox>
      <ion-checkbox id="cadastrar-checkbox4">Feminino</ion-checkbox>
      <label class="item item-select" id="cadastrar-select2">
        <span class="input-label">Qual Sua Arte?</span>
        <select>
          <option>Selecione</option>
          <option>Ator/Atriz</option>
          <option>Músico</option>
          <option>Pintor</option>
          <option>Dançarino</option>
          <option>Escritor</option>
        </select>
      </label>
      <label class="item item-input" id="cadastrar-input23">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="Sua Senha">
      </label>
      <label class="item item-input" id="cadastrar-input24">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="Confirmar Senha">
      </label>
      <button id="cadastrar-button45" class="button button-dark button-block">Cadastrar</button>
    </form>
  </ion-content>
</ion-view>