<ion-view title="Tobias Barreto Cidade" id="page25" style="background-color:#D1D1D1;">
    <ion-content padding="true" class="has-header">
    <ion-item class="item">
        <img src="img/Mapa_de_Localização.png" style="margin-left: 75px; width: 200px; ">
    </ion-item>
    <ul class="list-item">
        <li>Localizada na região do Vale do Rio Real do Estado, em Sergipe, nordeste do Brasil:</li>
        <p>Tobias Barreto surgiu no final do século XVI em um sítio de aproximadamente 40 tarefas,
            onde apareceu uma imagem de Nossa Senhora. E em homenagem a esta os camponeses construíram
            uma capelinha e fizeram residências em volta dela formando uma aldeia batizada de Paraíso.
            A imagem de Nossa Senhora desapareceu por duas vezes sendo encontrada num matagal próximo.
            Na segunda vez destruíram o matagal e construíram outra capelinha onde hoje fica a Igreja Matriz.
            Nossa Senhora Imperatriz dos Campos e o novo povoado recebeu o nome Capela de Nossa Senhora dos Campos do Rio Traripe,
            hoje Rio Real, por estar situado às margens desse rio. Com o tempo se chamou Vila de Campos do Rio Real
            e o nome do povoado foi simplificando até ser chamado apenas de Campos. Em 17 de janeiro de 1835,
            o povoado foi elevado à categoria de vila.
            Em 1909 foi elevado à categoria de município e pelo Decreto-lei Estadual nº 377 o distrito de Campos passou a denominar-se Tobias Barreto. </p>
    </ul>
    </ion-content>
</ion-view>