<ion-view title="Informacoes" id="page16">
    <ion-content padding="true" class="has-header">
        <div style="display: block; width: 100px; height: 100%; margin-left: auto; margin-right: auto;">
            <img class="animated  bounceInRight" src="" id="fotoInfo" style="display: block; width: 100px; height: 100%; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <ion-list id="listaInfoCdt">
            <ion-item >
                <span id="nomeInfo"></span>
                <span class="item-note" id="idadeInfo"></span>
            </ion-item>
            <ion-item >
                <span id="nomeArtisticoInfo"></span>
            </ion-item>
            <ion-item >
                <span id="sexoInfo"></span>
                <span class="item-note" id="nomeArteInfo"></span>
            </ion-item>
            <ion-item class="item-icon-right">
                <div id="emailInfo"></div>
                <i class="icon ion-email"></i>
            </ion-item>
            <ion-item class="item-icon-right" >
                <div id="telInfo"></div>
                <i class="icon ion-ios-telephone"></i>
            </ion-item>
            <label class="item item-input item-stacked-label">
                <span class="input-label" >Sobre</span><textarea rows="5" disabled id="descricaoInfo"></textarea></label>
            <label class="item item-input item-stacked-label">
                <span class="input-label" >Projetos atuais</span><textarea
                    id="projetosInfo" disabled rows="5"></textarea></label>
            <button class="button button-dark button-block" onclick="" id="btnInfo" style="display: none"></button>
        </ion-list>
    </ion-content>
</ion-view>