<ion-view hide-back-button="true" id="page1">
  <ion-tabs class="tabs-light tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Notícias" icon="ion-android-home" href="#/page1/page2" id="tabsController-tab2">
      <ion-nav-view name="tab2" onclick="pullToRefreshNoticia()"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Hoje" icon="ion-flame" href="#/page1/page13" id="tabsController-tab4" >
      <ion-nav-view name="tab4" onclick="pullToRefreshHoje()"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Agenda" icon="ion-android-calendar" href="#/page1/page12" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Cadart" icon="ion-android-list" href="#/page1/page3" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>